* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(100, 100, 100, 1);
    height: 60px;
}

li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

header {
    padding: 15% 0;
    background-image: url(images/hero-option-2.jpg);
    width: 100%;
    color: white;
}

h1 {
    padding: 0 20px;
}

a {
    color: white;
    text-decoration: none;
}

section {
    min-height: 300px;
}

.about-me {
    padding: 10%;
}

.projects, .contact {
    font-size: 30px;
    padding: 10%;
}

section:nth-child(even) {
    background-color: #ddd;
  }

footer {
    min-height: 50px;
    background: rgba(100, 100, 100, 1);
    color: white;
    padding: 15px;
  }





